* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}
.top-nav {
    position: fixed;
    top: 0;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    padding: 20px 40px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    align-items: center;
    background-color: #f60495;
    z-index: 30 !important;
}
.logo-container {
    display: flex;
    align-items: center;
}
.arbitrary-logo {
    width: 200px;
    margin-left: 50px;
}
.nav-link-wrapper {
    margin-right: 150px;
}
.nav-link {
    margin: 5px 20px;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    cursor: pointer;
}
.jumbotron {
    width: 100vw;
    height: 700px;
    background-image: url("assets/images/jumbotron.jpg");
    background-size: cover;
    margin: 0 !important;
}
.jumbotron-h1 {
    font-size: 30px;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-left: 500px;
    padding-top: 350px;
}
.custom-font {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif !important;
}
.text-center {
    display: flex;
    justify-content: center;
}
.mt-5 {
    margin-top: 40px;
}
.mt-3 {
    margin-top: 20px;
}
.plr {
    padding-right: 20px;
    padding-left: 20px;
}
table {
    width: 100%;
    text-align: left;
}
table td, th {
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 10px 20px;
}
form {
    margin-left: 400px;
    background: #f60495;
    padding: 20px 40px;
    width: 550px;
    color: white;
    margin-bottom: 50px;
}
.form-group label {
    display: block;
    margin: 10px 0;
}
.form-group input {
    padding: 5px 10px;
    border: 1px solid white;
    border-radius: 5px;
    width: 90%;
}
input::placeholder {
    color: rgba(255, 255, 255, 0.7);
}
form button {
    width: 100%;
    color: #f60495;
    background-color: white;
    margin-top: 20px;
    padding: 7px 0;
}